DATABASE_URL=postgres://postgres:db_password@localhost:5432/seeders

PORT=5000
JWT_ACCESS_SECRET=jwt-secret-key
JWT_REFRESH_SECRET=jwt-refresh-secret-key
TINIFY_API_KEY=key_from_tinypng.com
TINIFY_API_URL=https://api.tinify.com/shrink