.root {
  margin-top: 20px;
  
  li {
    display: inline-block;
  }

  a {
    text-align: center;
    width: 35px;
    height: 35px;
    line-height: 35px;
    border: 1px solid #0c4a6e;
    border-radius: 30px;
    margin-right: 7px;
    cursor: pointer;
    display: inline-block;
    color: #0c4a6e;

    &:hover {
      background-color: #0c4a6e;
      color: #fff;
    }
  }

  :global {
    .selected {
      a {
        background-color: #0c4a6e;
        color: #fff;
      }
    }
  }
}
